input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.hcs {
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

.accordion {
  width: 100%;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-size: 1.25em;
    cursor: pointer;
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1.5em;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    cursor: pointer;
  }
}

// :checked
input:checked {
  + .accordion-label {
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .accordion-content {
    max-height: 100vh;
    padding: 1.5em;
  }
}
