<ion-content>
  <ion-card class="welcome-card-img">
    <img src="/assets/shapes.svg" alt="Error Processing Image" />
  </ion-card>
  
  <ion-card>
    <div class="accordion">
      <input type="checkbox" id="chck1">
      <label class="accordion-label" for="chck1">
        Example Question 1
      </label>
      <div class="accordion-content">
        Example Answer 1
      </div>
    </div>
    <div class="accordion">
      <input type="checkbox" id="chck2">
      <label class="accordion-label" for="chck2">
        Example Question 2
      </label>
      <div class="accordion-content">
        Example Answer 2
      </div>
    </div>
  </ion-card>
</ion-content>
