<ion-content>
  <ion-header color="tertiary">
    <ion-title style="background-color: cornflowerblue; padding: 5%;" class="wsite-content-title" color="light">Frequently Asked Questions</ion-title>
  </ion-header>
  <ion-card>
    <div class="accordion">
      <input type="checkbox" id="chck1">
      <label class="accordion-label" for="chck1">
        What is madHacks 2020?
      </label>
      <div class="accordion-content">
        madHacks 2020 is a hackathon hosted by a 501(c)(3) nonprofit organization called STEM for the Streets. At STEM for the Streets, we are committed to giving the underrepresented youth opportunities in STEM and showing that while students may be born in unstable living conditions, they do not need to be a product of their environment. To find out more about STEM for the Streets and our mission, visit <a href="https://stemforthestreets.org">stemforthestreets.org</a>.
      </div>
    </div>

    <div class="accordion">
        <input type="checkbox" id="chck9">
        <label class="accordion-label" for="chck9">
          How does a hackathon work?
        </label>
        <div class="accordion-content">
          A hackathon, in our case, is a 24-hour event with programmers, experienced and unexperienced, separated into different teams around the area. At the beginning of the event, there will be a sponsor fair, where students will be able to speak to different sponsors so that companies can gauge interest. There will be opening ceremonies and lunch, and the hackathon will start shortly after. Throughout the night, each team will be tasked with making an app or other technological product that bears value to it. By the following morning, each team will present their project to the judges, and whichever teams have the best project will win awards, as well as a feature on our website. 
        </div>
      </div>

    <div class="accordion">
        <input type="checkbox" id="chck7">
        <label class="accordion-label" for="chck7">
          Can I get an internship or opportunity from participation in the hackathon?
        </label>
        <div class="accordion-content">
          YES!!! If you are a member of an underrepresented community or a minority, then you are eligible to send your résumé, email, and phone number in order to get into contact with one of our following sponsors for a mentorship, internship, or other opportunity. We are committed to lifting up the underrepresented youth at STEM for the Streets. To find out more about the minority-sponsor connection, visit our registration page.
        </div>
      </div>

    <div class="accordion">
      <input type="checkbox" id="chck2">
      <label class="accordion-label" for="chck2">
        I don't know how to code, can I still go?
      </label>
      <div class="accordion-content">
        That's totally fine! At madHacks 2020, we provide workshops taught by other experienced coders and our sponsors. Our mentors can guide you through your coding journey if you're getting stuck or if you are lacking experience. Nevertheless, madHacks 2020 will be an extremely fun event regardless of your coding level!
      </div>
    </div>

    <div class="accordion">
        <input type="checkbox" id="chck3">
        <label class="accordion-label" for="chck3">
          What do I need to bring?
        </label>
        <div class="accordion-content">
          Bring a laptop (suited for coding), a sleeping bag/pillows, extra clothing, chargers, and your game face! We suggest you bring a nice set of clothes for project presentations to the judges as well! 
        </div>
      </div>

      <div class="accordion">
          <input type="checkbox" id="chck10">
          <label class="accordion-label" for="chck10">
            If I get tired of coding at some point at night, where could I relax?
          </label>
          <div class="accordion-content">
            If you need some time to just chill to take a break from the coding, there will be a game room where you can hang out with your friends. There will also be snacks in the break room to eat.
          </div>
        </div>

      <div class="accordion">
          <input type="checkbox" id="chck4">
          <label class="accordion-label" for="chck4">
            Who can attend madHacks 2020?
          </label>
          <div class="accordion-content">
            madHacks 2020 is open to all high school students in the D.C., Maryland, and Virginia area. If you are a middle school or elementary school student that wants to still experience a fun & exciting hackathon event before high school starts for you, consider volunteering at madHacks 2020! More information on volunteering can be found in the registration page.
          </div>
        </div>

        <div class="accordion">
            <input type="checkbox" id="chck5">
            <label class="accordion-label" for="chck5">
              Will there be food? If so, how much?
            </label>
            <div class="accordion-content">
              All meals will be provided by STEM for the Streets, the host of this hackathon. Trust me, there will be lots of food at madHacks2020. If you wish to bring your own meal, however, that is appropriate. Please make sure to be mindful of others and throw away your trash.
            </div>
          </div>

          <div class="accordion">
              <input type="checkbox" id="chck6">
              <label class="accordion-label" for="chck6">
                What if I have dietary concerns?
              </label>
              <div class="accordion-content">
                If you have dietary concerns, please email us at madHacks2020@gmail.com. If you are unsure whether you are allergic to a certain food or not, please do not attempt to consume it.
              </div>
            </div>


          <div class="accordion">
              <input type="checkbox" id="chck8">
              <label class="accordion-label" for="chck8">
                Do I need a team of people?
              </label>
              <div class="accordion-content">
                If you have a group of 2-5 people already planned out, then awesome! If not, that's totally okay because you'll be able to meet new people and form teams at the event itself. 
              </div>
            </div>

            
  </ion-card>




  <ion-footer>
      <ion-toolbar color="tertiary">
        <div class="hcs">
          <ion-title style="font-family: Verdana; font-weight: 600; font-size: 130%;">Follow us on social media pages for madHacks 2020 updates!</ion-title>
          <ion-title style="font-family: Verdana; font-weight: 500; font-size: 100%; margin-top: 1%;">If you would like to contact us, please contact madHacks2020@gmail.com</ion-title>
          <div style="margin-top: 1%;">
            <a href="https://www.instagram.com/madhacks2020/" style="color: white;">
          <ion-icon name="logo-instagram" size="large" style="margin-right: 1%;"></ion-icon>
          </a>
          <ion-icon name="logo-linkedin" size="large"></ion-icon>
        </div>
      </div>
      </ion-toolbar>
    </ion-footer>
</ion-content>
