<ion-content>
  <ion-header color="tertiary">
    <ion-title style="background-color: cornflowerblue; padding: 5%;" class="wsite-content-title" color="light">Frequently Asked Questions</ion-title>
  </ion-header>
  <ion-card>
    <div class="accordion">
      <input type="checkbox" id="chck1">
      <label class="accordion-label" for="chck1">
        What is madHacks 2020?
      </label>
      <div class="accordion-content">
        madHacks 2020 is a hackathon hosted by a 501(c)(3) organization called STEM for the Streets. At madHacks, you will have 24 hours to get with a group of friends and develop an app, robot, or any product of your choice that bears value to it. 
      </div>
    </div>

    <div class="accordion">
      <input type="checkbox" id="chck2">
      <label class="accordion-label" for="chck2">
        What if I don't know how to code?
      </label>
      <div class="accordion-content">
        That's totally fine! At madHacks2020, we provide workshops taught by other experienced coders and our sponsors. Our mentors can guide you through your coding journey if you're getting stuck or if you are lacking experience. Nevertheless, madHacks2020 will be an extremely fun event regardless of your coding event!
      </div>
    </div>

    <div class="accordion">
        <input type="checkbox" id="chck3">
        <label class="accordion-label" for="chck3">
          What do I need to bring?
        </label>
        <div class="accordion-content">
          Bring a laptop (suited for coding), a sleeping bag/pillows, extra clothing, and your game face! We suggest you bring a nice set of clothes for project presentations to the judges as well! 
        </div>
      </div>

      <div class="accordion">
          <input type="checkbox" id="chck4">
          <label class="accordion-label" for="chck4">
            I don't know how to code, but can I still go?
          </label>
          <div class="accordion-content">
            Absolutely!!! At madHacks2020, we provide workshops taught by other experienced coders and our sponsors. Our mentors can guide you through your coding journey if you're getting stuck or if you are lacking experience. Nevertheless, madHacks2020 will be an extremely fun event regardless of your coding event!
          </div>
        </div>

        <div class="accordion">
            <input type="checkbox" id="chck5">
            <label class="accordion-label" for="chck5">
              I don't know how to code, but can I still go?
            </label>
            <div class="accordion-content">
              Absolutely!!! At madHacks2020, we provide workshops taught by other experienced coders and our sponsors. Our mentors can guide you through your coding journey if you're getting stuck or if you are lacking experience. Nevertheless, madHacks2020 will be an extremely fun event regardless of your coding event!
            </div>
          </div>

          <div class="accordion">
              <input type="checkbox" id="chck6">
              <label class="accordion-label" for="chck6">
                I don't know how to code, but can I still go?
              </label>
              <div class="accordion-content">
                Absolutely!!! At madHacks2020, we provide workshops taught by other experienced coders and our sponsors. Our mentors can guide you through your coding journey if you're getting stuck or if you are lacking experience. Nevertheless, madHacks2020 will be an extremely fun event regardless of your coding event!
              </div>
            </div>

            <div class="accordion">
                <input type="checkbox" id="chck7">
                <label class="accordion-label" for="chck7">
                  I don't know how to code, but can I still go?
                </label>
                <div class="accordion-content">
                  Absolutely!!! At madHacks2020, we provide workshops taught by other experienced coders and our sponsors. Our mentors can guide you through your coding journey if you're getting stuck or if you are lacking experience. Nevertheless, madHacks2020 will be an extremely fun event regardless of your coding event!
                </div>
              </div>
  </ion-card>




  <ion-footer>
      <ion-toolbar color="tertiary">
        <div class="hcs">
          <ion-title style="font-family: Verdana; font-weight: 600; font-size: 130%;">Follow us on social media pages for madHacks 2020 updates!</ion-title>
          <ion-title style="font-family: Verdana; font-weight: 500; font-size: 100%; margin-top: 1%;">If you would like to contact us, please contact madHacks2020@gmail.com</ion-title>
          <div style="margin-top: 1%;">
            <a href="https://www.instagram.com/madhacks2020/" style="color: white;">
          <ion-icon name="logo-instagram" size="large" style="margin-right: 1%;"></ion-icon>
          </a>
          <ion-icon name="logo-linkedin" size="large"></ion-icon>
        </div>
      </div>
      </ion-toolbar>
    </ion-footer>
</ion-content>
