<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button href="instagram.com">
        <ion-icon name="logo-instagram" size="large"></ion-icon>
      </ion-button>
      <ion-button href="twitter.com">
        <ion-icon name="logo-twitter" size="large"></ion-icon>
      </ion-button>
      <ion-button href="https://linkedin.com">
        <ion-icon name="logo-linkedin" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="primary">Mathtivity x MadAI</ion-title>
  </ion-toolbar>
</ion-footer>
