.hcs {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
  }

  .wsite-content-title {
    font-family:"Verdana" !important;
    font-weight:700 !important;
    font-size: 60px;
    text-align: center;
  }

  .paragraph {
    margin-left: 5%;
    color: rgb(115, 115, 115);
    font-size:22px !important;
    line-height:34px !important;
}