<ion-content>
    <ion-header color="tertiary">
        <ion-title style="background-color: crimson; padding: 5%;" class="wsite-content-title" color="light">madHacks 2020</ion-title>
    </ion-header>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-title class="wsite-content-title">Registration</ion-title>
          </ion-row>
          <ion-row>
            <p class="paragraph">The form for the official registration for madHacks 2020 is to the right of the screen. Official registration ends on January 10, 2020. On site registration may be a possibility, however, it is not guarenteed that you will be able to participate. By registering to madHacks 2020, you are making a commitment that you will show up and participate on March 14-15. </p>
          </ion-row>
          <ion-row>
            <ion-title style="font-size: 22px;">Connecting with our sponsors</ion-title>
            <p class="paragraph">If you are a member of an underrepresented community, then you are eligible to upload your resumé by clicking the button below. Your uploaded resumé will be reviewed by the hackathon executive directors and sent to certain sponsors for paid/unpaid mentorship, internship, or other prosepctive opportunities. Please know that while uploading a resumé puts you in a strong position for a future opportunity, it does not guarentee one.</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdL6UnVy6uvJIOydRhhhjNziabTYV0uWHw84uu2mH4hAdNmnQ/viewform">
            <ion-button style="margin-left: 5%;" color="tertiary" (click)="onClick()">SEND A RESUMÉ</ion-button>
          </a>
          </ion-row>
          <ion-row style="margin-top: 5%;">
              <ion-title style="font-size: 22px;">Volunteering</ion-title>
              <p class="paragraph">If you are interested in being a volunteer for the organizational team of madHacks, then please click the button below to sign up. Likewise, if you are in middle or elementary school but still would like to experience an exciting, captivating hackathon event with programmers of all experience levels, then you are also eligible to volunteer at madHacks 2020 as well! If you are a parent of a hacker at madHacks 2020, then you too, are able to volunteer.</p>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSeQB7IE0Mh-JJeRSYnem2wW7EAtIAiK0Br2sXXx7pGLpRy8Jg/viewform?usp=sf_link">
              <ion-button style="margin-left: 5%;" color="tertiary">VOLUNTEER SIGN UP</ion-button>
            </a>
            </ion-row>
        </ion-col>
        <ion-col>
          <div style="width: 100%; text-align: center; margin-top: 3%;">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScKgBSKFz6WvdJK92QwL2D-S8BfpuQp2kgyYVPTDjMMqnqEaw/viewform?embedded=true" width="100%" height="1152" frameborder="0">Loading...</iframe>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>


<ion-footer>
    <ion-toolbar color="tertiary">
      <div class="hcs">
        <ion-title style="font-family: Verdana; font-weight: 600; font-size: 130%;">Follow us on social media pages for madHacks 2020 updates!</ion-title>
        <ion-title style="font-family: Verdana; font-weight: 500; font-size: 100%; margin-top: 1%;">If you would like to contact us, please contact madHacks2020@gmail.com</ion-title>
        <div style="margin-top: 1%;">
          <a href="https://www.instagram.com/madhacks2020/" style="color: white;">
        <ion-icon name="logo-instagram" size="large" style="margin-right: 1%;"></ion-icon>
        </a>
        <ion-icon name="logo-linkedin" size="large"></ion-icon>
      </div>
    </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
