<ion-content>

    <ion-footer>
    <ion-toolbar color="tertiary">
      <div class="hcs">
        <ion-title style="font-family: Verdana; font-weight: 600; font-size: 130%;">Follow us on social media pages for HackTheStreets 2020 updates!</ion-title>
        <ion-title style="font-family: Verdana; font-weight: 500; font-size: 100%; margin-top: 1%;">If you would like to contact us, please contact hackthestreets@gmail.com</ion-title>
        <div style="margin-top: 1%;">
          <a href="https://www.instagram.com/hackthestreets/" style="color: white;">
        <ion-icon name="logo-instagram" size="large" style="margin-right: 1%;"></ion-icon>
        </a>
        <ion-icon name="logo-linkedin" size="large"></ion-icon>
      </div>
    </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
