.toolbar-class {
    min-height: 75px;
}

.madHacks-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.myOverlay{
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 99;
    text-align: center;
    vertical-align: center; 
    background: rgba(0, 0, 0, 0);
    color: #000000;

}

.meet-team-card {
    box-shadow: none !important;
    margin-left: 5%;
    margin-right: 5%;
}

.welcome-card-img{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
    max-height: 100vmax;
    overflow: hidden;
}

.about-image {
    margin-right: 5%;
    height: min-content;
}

.team-image {
    max-height: 285px;
    overflow: hidden;
}

.welcome-card {
    background-color: whitesmoke;
    margin-right: 15%;
    margin-left: 15%;
    box-shadow: none !important;
}

.title-text-size {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.subtitle-text-size {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.sponsor-text-size {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.text-size {
    font: bold;
    font-size: 20px;
    color: rgb(255, 250, 250);
    font-weight: 500;
    margin-left: 5%;
}

.wsite-content-title {
    font-family:"Montserrat" !important;
    font-weight:700 !important;
    font-size: 85px;
    text-align: center;
}

.paragraph {
    font-size:22px !important;
    line-height:34px !important;
}

.title-style {
    text-align: center;
    font-size: 50px;
    margin-bottom: 1%
}

.title-sm-style {
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    margin-bottom: 1%;
    margin-top: 1%;
    width: 100% !important;
    margin: 0 !important;
}

.sm-card {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
    background: "primary";
}

