<ion-content color="light">
  <ion-card div class="welcome-card-img">
    <img src="/assets/team/andrew-tran.png" />
    <div class="card-title">
      <h1 class="title-madhacks">MADHACKS 2020</h1>
      <h2 class="subtitle-madhacks">March 14-15 | James Madison High School</h2>
      <ion-button color="tertiary" style="font-family: Verdana;" [routerLink]="['/contact']">
        REGISTER NOW
      </ion-button>
    </div>
  </ion-card>
  
  <ion-card class="welcome-card">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-card-title class="wsite-content-title">Learn. Code. Create.</ion-card-title>
          </ion-row>
          <ion-row>
            <p class="paragraph">
                Have you ever wanted to build autonomous drones, amazing iOS/Android apps, cool games, or experiment with artificial intelligence? Whether you're an experienced developer, or just starting to learn how to program, there's a place for you at madHacks. In the 24 hours at madHacks, you can attend workshops, meet new people, and develop amazing applications. With that being said, get ready for an adventure at madHacks 2020!
            </p>
          </ion-row>
        </ion-col>
        <ion-col>
          <img src="../../assets/icon/madHacks.png" />
        </ion-col>
      </ion-row>
      <p style="font-size: 18px;">IMPORTANT: I you are a minority or a member of an underrepresented community, you are eligible to connect with our sponsors for a mentorship/internship opportunity. Visit the registration page for more information.</p>
    </ion-grid>
  </ion-card>


  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title class="wsite-content-title">Sponsors</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row style="width: 100%; justify-content: center !important; align-content: center !important;">
          <ion-col size="3" class="wsite-image wsite-image-border-none" style="margin-right: 3%">
              <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                  <img src="/assets/sponsors/mathtivity-sponsor.png" style="width:auto;max-width:100%" alt="Mathtivity"/>
                  <div style="display:block;font-size:90%"></div>
                </div>
          </ion-col>
          <ion-col size="3" class="wsite-image wsite-image-border-none" style="margin-right: 3%">
            <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                <img src="/assets/sponsors/mathtivity-sponsor.png" style="width:auto;max-width:100%" alt="Mathtivity"/>
                <div style="display:block;font-size:90%"></div>
              </div>
          </ion-col>
          <ion-col size="3" class="wsite-image wsite-image-border-none">
            <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                <img src="/assets/sponsors/mathtivity-sponsor.png" style="width:auto;max-width:100%" alt="Mathtivity"/>
                <div style="display:block;font-size:90%"></div>
              </div>
          </ion-col>
        </ion-row>
        <ion-row style="width: 100%; justify-content: center !important; align-content: center !important;">
            <ion-col size="3" class="wsite-image wsite-image-border-none" style="margin-right: 3%">
              <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                  <img src="/assets/sponsors/mathtivity-sponsor.png" style="width:auto;max-width:100%" alt="Mathtivity"/>
                  <div style="display:block;font-size:90%"></div>
                </div>
            </ion-col>
            <ion-col size="3" class="wsite-image wsite-image-border-none" style="margin-right: 3%">
              <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                  <img src="/assets/sponsors/mathtivity-sponsor.png" style="width:auto;max-width:100%" alt="Mathtivity"/>
                  <div style="display:block;font-size:90%"></div>
                </div>
            </ion-col>
            <ion-col size="3" class="wsite-image wsite-image-border-none">
              <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                  <img src="/assets/sponsors/mathtivity-sponsor.png" style="width:auto;max-width:100%" alt="Mathtivity"/>
                  <div style="display:block;font-size:90%"></div>
                </div>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="schedule-card">
    <ion-card-header>
      <ion-card-title class="title-style">Schedule</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="iongrid" style="background: whitesmoke">
        <ion-row>
          <ion-col style="text-align: center; color: darkgray;">
            <ion-card-subtitle class="paragraph"><strong>Saturday, March 14</strong></ion-card-subtitle>
            <ion-list style="background:whitesmoke">
              <ion-item color="light">
                <ion-label style="text-align: center;">
                    <h2 style="font: bold;">10:00 AM</h2>
                    <p>Student Check-In & Sponsor Fair</p>
                </ion-label>
              </ion-item>
              <ion-item color="light">
                  <ion-label style="text-align: center;">
                      <h2>11:00 AM</h2>
                      <p>Opening Ceremony</p>
                  </ion-label>
              </ion-item>
              <ion-item color="light">
                  <ion-label style="text-align: center;">
                    <h2>11:30 AM</h2>
                      <p>Hacking Begins</p>
                  </ion-label>
              </ion-item>
              <ion-item color="light">
                  <ion-label style="text-align: center;">
                      <h2>1:00 PM</h2>
                      <p>Lunch, Registration Closes (no entry after this time)</p>
                  </ion-label>
              </ion-item>
              <ion-item color="light">
                  <ion-label style="text-align: center;">
                      <h2>2:00 PM</h2>
                      <p>Workshops Begin</p>
                  </ion-label>
              </ion-item>
              <ion-item color="light">
                  <ion-label style="text-align: center;">
                      <h2>4:00 PM</h2>
                      <p>Afternoon Snack</p>
                  </ion-label>
              </ion-item>
              <ion-item color="light">
                  <ion-label style="text-align: center;">
                      <h2>7:00 PM</h2>
                      <p>Dinner</p>
                  </ion-label>
              </ion-item>
              <ion-item color="light">
                  <ion-label style="text-align: center;">
                      <h2>9:00 PM</h2>
                      <p>Rising Tech Leaders Panel</p>
                  </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col style="text-align: center; color: darkgray;">
            <ion-card-subtitle class="paragraph"><strong>Sunday, March 15</strong></ion-card-subtitle>
            <ion-list style="background: whitesmoke">
                <ion-item color="light">
                  <ion-label style="text-align: center;">
                      <h2>12:00 AM</h2>
                      <p>Midnight Snack</p>
                  </ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label style="text-align: center;">
                        <h2>4:00 AM</h2>
                        <p>Late Night Snack</p>
                    </ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label style="text-align: center;">
                      <h2>8:00 AM</h2>
                        <p>Hacking Ends & Breakfast Begins</p>
                    </ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label style="text-align: center;">
                        <h2>8:45 AM</h2>
                        <p>Clean-Up</p>
                    </ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label style="text-align: center;">
                        <h2>9:30 AM</h2>
                        <p>Judging Begins</p>
                    </ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label style="text-align: center;">
                        <h2>11:00 AM</h2>
                        <p>People's Choice Voting</p>
                    </ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label style="text-align: center;">
                        <h2>11:30 AM</h2>
                        <p>Closing Ceremony</p>
                    </ion-label>
                </ion-item>
                <ion-item color="light">
                    <ion-label style="text-align: center;">
                        <h2>12:00 PM</h2>
                        <p>Hackathon Ends</p>
                    </ion-label>
                </ion-item>
              </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="meet-team-card">
    <ion-card-header>
      <ion-card-title class="title-style">Meet The Team</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="text-align: center">
        <ion-card class="member-card">
          <img src="/assets/team/RayanPicture.jpg" class="team-image"/>
          <ion-card-header>
            <ion-card-title>Rayan Yu</ion-card-title>
            <ion-card-subtitle>Executive Director</ion-card-subtitle>
            <ion-card-subtitle>James Madison HS</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="member-card">
          <img src="/assets/team/andrew-tran.png" class="team-image"/>
          <ion-card-header>
            <ion-card-title>Andrew Tran</ion-card-title>
            <ion-card-subtitle>Executive Director</ion-card-subtitle>
            <ion-card-subtitle>Justice HS</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
      <div style="text-align: center">
        <ion-card class="member-card">
          <img src="/assets/team/andrew-tran.png" class="team-image"/>
          <ion-card-header>
            <ion-card-title>Ashley McCray</ion-card-title>
            <ion-card-subtitle>Director of Finances</ion-card-subtitle>
            <ion-card-subtitle>Justice HS</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="member-card">
          <img src="/assets/team/andrew-tran.png" class="team-image"/>
          <ion-card-header>
            <ion-card-title>No Name</ion-card-title>
            <ion-card-subtitle>Director of Logistics</ion-card-subtitle>
            <ion-card-subtitle>------ HS</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="member-card">
          <img src="/assets/team/andrew-tran.png" class="team-image"/>
          <ion-card-header>
            <ion-card-title>No Name</ion-card-title>
            <ion-card-subtitle>Director of Sponsorship</ion-card-subtitle>
            <ion-card-subtitle>------ HS</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="member-card">
          <img src="/assets/team/andrew-tran.png" class="team-image"/>
          <ion-card-header>
            <ion-card-title>No Name</ion-card-title>
            <ion-card-subtitle>Director of Marketing</ion-card-subtitle>
            <ion-card-subtitle>------ HS</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card class="member-card">
          <img src="/assets/team/andrew-tran.png" class="team-image"/>
          <ion-card-header>
            <ion-card-title>No Name</ion-card-title>
            <ion-card-subtitle>Director of Technology</ion-card-subtitle>
            <ion-card-subtitle>------ HS</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar color="tertiary">
      <div class="hcs">
        <ion-title style="font-family: Verdana; font-weight: 600; font-size: 130%;">Follow us on social media pages for madHacks 2020 updates!</ion-title>
        <ion-title style="font-family: Verdana; font-weight: 500; font-size: 100%; margin-top: 1%;">If you would like to contact us, please contact madHacks2020@gmail.com</ion-title>
        <div style="margin-top: 1%;">
        <a href="https://www.instagram.com/madhacks2020/" style="color: white;">
        <ion-icon name="logo-instagram" size="large" style="margin-right: 1%;"></ion-icon>
        </a>
        <ion-icon name="logo-linkedin" size="large"></ion-icon>
      </div>
    </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
  
  <!-- <ion-card-content>Rayan is one of the two founders of madHacks and is a current junior at James Madison HS. Rayan's passion in coding is demonstrated through his published research in deep learning, the founding of his school's machine learning club, and his recognition in USA Computing League. With madHacks, he hopes to stir up excitement in the emerging field of AI and let it be known that computer science can be a very humanizing, exciting field of study. 
    </ion-card-content> -->

<!-- <ion-card-content>Andrew is one of the two founders of madHacks and a current junior at Justice HS. His coding journey started in fourth grade, making simple websites and games for his cousins. Andrew now has 5+ years of coding experience and has developed three apps with 5,000+ downloads across iOS & Android. With madHacks, he hopes to impact others and show that coding can be an enjoyable, enriching experience. </ion-card-content> -->